<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h1>Contáctanos</h1>
    <form action="/contacto/" method="post">{% csrf_token %}
        <p>Asunto: <input type="text" name="ausnto" id="asunto"></p>
        <p>Email: <input type="text" name="email" id="email"></p>
        <p>Mensaje: <textarea name="mensaje" id="mensaje" cols="45" rows="15"></textarea></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>